.btn {
    padding: 10px;
    border-radius: 5px;
    margin: 0px;
    margin-right: 15px;
    border: none;
    box-shadow: 2px 2px 2px #2C333F;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.yellow-btn {
    background-color: #FFD60A;
}

.black-btn {
    background-color: #161D29;
    color: white;
}