.container {
    width: 100%;
    min-height: 100vh;
    margin-top: 8vh;
    color: #F1F2FF;
    flex-direction: column;
}

.contentBox {
    /* border: 2px solid red; */
    border-top: 1px solid #999DAA;
    padding: 0px 10rem;
    background-color: #2C333F;
    width: 100%;
    padding-bottom: 20px;
}

.pages {
    display: flex;
    font-size: 14px;
    color: #cbd5e1;
    /* Grayish-white */
    gap: 5px;
    padding:0px 15px;
}

.home {
    display: flex;
    cursor: pointer;
    transition: color 0.3s ease;
    padding-right: 0px;
    padding-left: 0px;
}

.category {
    color: #FFD60A;
    padding-right: 0px;
    padding-left: 0px;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.description {
    font-size: 16px;
    color: #999DAA;
    max-width: 800px;
    padding: 0px 10px;
}

.coursesToGetYouStarted,
.topSellingCourses,
.frequentlyBroughtCourse {
    max-width: 1200px;
    margin: 25px 10rem;
}

.frequentlyBroughtCourse  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.typeOfCourses {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #999DAA;
}

.catalogNavItem {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #cbd5e1;
    /* padding: 8px 16px; */
    /* border-radius: 6px; */
    transition: all 0.3s ease;
    border: 1px solid #000814;
}

.catalogNavItem:hover {
    color: #E7C009;
    border-bottom: 1px solid #E7C009;
}

.courses {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media (max-width: 1200px) {
    .contentBox {
        padding: 0 8rem;
    }

    .coursesToGetYouStarted,
    .topSellingCourses,
    .frequentlyBroughtCourse {
        margin: 25px 8rem;
    }
}

@media (max-width: 1024px) {
    .contentBox {
        padding: 0 5rem;
    }

    .heading {
        font-size: 26px;
    }
    .coursesToGetYouStarted,
    .topSellingCourses,
    .frequentlyBroughtCourse {
        margin: 25px 4rem;
    }
    .courses {
        flex-direction: column;
        align-items: stretch;
    }
}

@media (max-width: 780px) {
    .contentBox {
        padding: 0 3rem;
    }

    .heading {
        font-size: 24px;
    }

    .description {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .contentBox {
        padding: 0 1.5rem;
    }

    .heading {
        font-size: 22px;
        /* text-align: center; */
    }

    .courses {
        flex-direction: column;
        align-items: stretch;
    }
    .coursesToGetYouStarted,
    .topSellingCourses,
    .frequentlyBroughtCourse {
        margin: 20px 2rem;
    }
}

@media (max-width: 480px) {
    .catalogNavItem {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 350px) {
    .heading {
        font-size: 20px;
    }

    .catalogNavItem {
        font-size: 12px;
        padding: 4px 8px;
    }
}