.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    background-color: #161D29;
    position: relative;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseName {
    margin: 0px 6px;
    padding: 0px 6px;
    font-weight: bolder;
    font-size: 2rem;
}

.ratingAndReviews {
    margin: 0px 6px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatYouWillLearn {
    padding: 0;
    margin: 2rem 0px;
    border: 1px solid #2C333F;
    margin-bottom: 0px;

}

.author {
    margin:8px;
    padding: 0px 6px;
}

.courseContent {
    margin: 2rem 0px;
}

.main {
    margin-top: 8vh;
}

.buyingcart {
    border-radius: 10px;
    margin: 1rem;
    background-color: #2C333F;
    margin-top: 8vh;
}