.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%; 
}

.title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.para {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #999DAA;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    width: 80%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 35vw;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2C333F;
    border-radius: 1000px;
    padding: 5px;
    margin: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.nav ul li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1rem;
}

.nav ul li:hover {
    background-color: #161D29;
    border-radius: 100px;
}

.nav ul li:active {
    background-color: #161D29;
    border-radius: 100px;
}


@media (max-width: 768px) {
    .title {
        font-size: 1.5rem; /* Reduced for better fit on mobile */
    }

    .para {
        font-size: 1rem; /* Adjusted for readability */
        width: 90%; /* Increased width for better fit */
    }

    .nav ul { /* Stack items on smaller screens */
        padding: 10px;
    }

    .nav ul li {
        font-size: 0.9rem; /* Slightly reduced for mobile screens */
    }
}