@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    /* margin: 3rem; */
    font-family: 'Inter' sans-serif;
    /* border: 2px solid red; */
}
.instrutorBtn {
    background-color: #2C333F;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin: 2rem;
    color: #C5C7D4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    box-shadow: 2px 2px 2px #161D29;
}

.instrutorBtn:hover {
    background-color: #161D29;
    box-shadow: none;
}

.title {
    font-size: 25px;
}

.para {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #999DAA;
}

.btnSection {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.videoContainer {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.BannerVideo{
    width: 70vw;
    box-shadow: 
    -5px -5px 25px  #7EC0D9, 
    10px 10px 1px #fff;
    border-radius: 5px;
}



