@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 3rem;
    font-family: 'Inter' , sans-serif;
}
.instrutorBtn {
    background-color: #2C333F;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin: 2rem;
    color: #C5C7D4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    box-shadow: 2px 2px 2px #161D29;
}

.instrutorBtn:hover {
    background-color: #161D29;
    box-shadow: none;
}

.title {
    font-size: 36px;
    margin-bottom: 0.5rem;
    text-align: center; 
}

.para {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #999DAA;
    margin: 0px 5rem;
    margin-bottom: 0.5rem;
    padding: 0 10px;
}

.btnSection {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
    flex-wrap: wrap; 
    gap: 10px; 
}

.videoContainer {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.BannerVideo{
    width: 70vw;
    box-shadow: 
    -5px -5px 25px  #7EC0D9, 
    10px 10px 1px #fff;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .container {
        width: 100vw; 
    }
    /* .title {
        font-size: 30px; 
    } */
    .BannerVideo {
        width: 90vw; 
    }
    .para {
        width: 90vw;
    }
}


@media (min-width: 1024px) {
    .container {
        width: 100vw; 
    }
    /* .title {
        font-size: 30px; 
    } */
    .BannerVideo {
        width: 100vw; 
    }
    .para {
        width: 100vw;
        /* margin: 0px 6rem; */
        margin: 0px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100vw; 
    }
    .title {
        font-size: 25px; 
    }
    .instrutorBtn {
        padding: 8px; 
        font-size: 14px; 
    }
    .BannerVideo {
        width: 95vw; 
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
    }
    .para {
        font-size: 14px; 
    }
    .instrutorBtn {
        /* width: 100%; */
        text-align: center;

    }
    .BannerVideo {
        width: 95vw; 
    }
}
