.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    border-radius: 5px;
    margin: 0px 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.section {
    background-color: white;
    width: 100%;
    height: 30vh;
}

.section .img {
    background-image: url('../assets/bghome.svg');
    width: 100vw;
    height: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sectionFour {
    background-color: #f9f9f9;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.title {
    color: black;
    font-size: 28px;
    margin: 0px;
    height: 100%;
    margin-top: 1rem;
    width: 30%;
}

.desc {
    color: black;
    width: 40%;
    text-align: start;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin: 1rem;
}

.desc p {
    margin: 0.5rem;
    /* border: 2px solid red; */
}

.learnBtn {
    background-color: #FFD60A;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px #2C333F;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0.5rem 1.2rem;
}

.learnBtn:hover {
    background-color: #F0C000; /* Slightly darker on hover */
}

@media (max-width: 1024px) {
    .title {
        font-size: 24px; /* Reduced font size for tablets */
        width: 40%; /* Adjusted width */
    }

    .sectionFour {
        height: 24vh;
    }
    
}

@media (max-width: 768px) {
    .sectionFour {
        flex-direction: column; /* Stack content vertically */
        gap: 1rem; /* Reduced gap */
        
    }
    .title, .desc {
        width: 80%; /* Full width for readability */
    }
    .title {
        font-size: 22px; /* Adjusted font size for mobile */
    }
    .desc p {
        font-size: 0.9rem; /* Adjusted font size */
        margin: 0px;
        padding: 0px;
    }

    .learnBtn {
        margin: 10px 0px;
    }
}

@media (max-width: 550px) {
    .sectionFour {
        height: 28vh;
    }
}

@media (max-width: 480px) {
    .sectionFour {
        height: 30vh;
    }
    .title {
        font-size: 18px; /* Further reduced for smaller screens */
    }
    .desc {
        width: 90%; /* Almost full width */
        padding: 0px 20px;
    }

}
