.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem;
    /* border: 2px solid red; */

}

.content {
    margin: 0px 7rem;
}

.title {
    font-size: 35px;
    padding: 15px 0px;
    width: 90%;
    /* border: 2px solid red; */

}

.para {
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: center;
    flex-direction: column;
    color: #999DAA;
    width: 90%;
    margin-bottom: 3rem;
}

.img img {
    width: 600px;
}

.img {
    box-shadow: -14px -14px 2px white;
}


@media screen and (max-width: 1200px) {
    .content {
        margin: 0 4rem;
    }
    .img img {
        width: 600px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        margin: 4rem;
    }
    .content {
        margin: 2rem 8rem;
        /* text-align: center; */
    }
    .para {
        align-items: center;
        justify-content: center;
        /* text-align: center; */
    }
}

@media screen and (max-width: 800px) {
    .img img {
        width: 100%;
    }
    .para {
        font-size: 15px;
    }
    .title {
        font-size: 30px;
    }
    .content {
        margin: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 3rem;
    }
    .title {
        font-size: 26px;
    }
    .para {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 22px;
    }
    .para {
        font-size: 13px;
    }
}

@media screen and (max-width: 350px) {
    .title {
        font-size: 20px;
    }
    .para {
        font-size: 12px;
    }
}