.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem;
}

.content {
    margin: 0px 7rem;
}

.title {
    font-size: 35px;
    padding: 15px 0px;
    width: 50%;
}

.para {
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: center;
    flex-direction: column;
    color: #999DAA;
    width: 90%;
    margin-bottom: 3rem;
}

.img img {
    width: 600px;
}