.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* border: 2px solid red; */
    min-height: 100vh;
    width: 80vw;
    /* margin: 1rem 0px; */
    margin-top: 8vh;
    padding: 0.5rem 0px;
    overflow-x: hidden;
}

.title {
    font-size: 1.5rem;
    color: #F1F2FF;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.section1 , .section2 , .section3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 2px solid red; */
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #2C333F;
}

.pp {
    width: 50px;
    border-radius: 1000px;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    gap: 15px;
    padding: 10px;
}

.userInfo .userNameAndEmail p{
    padding: 2px;
}

.editBtn button {
    background-color: #FFD60A;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-size: 15px;
}

.section2 .title {
    font-size: 1.5rem;
    margin: 0px;
    /* border: 2px solid red; */
}
.section3 .title {
    font-size: 1.5rem;
    margin: 0px;
    /* border: 2px solid red; */
}

.section2 .desc {
    color: #838894;
    padding: 5px 15px;
}

.label {
    color: #838894;
    font-size: 0.9rem;
}

.userinfo p {
    padding: 0;
}

.userinfo {
    display: flex;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px;
}

.table td {
    padding: 10px;
    vertical-align: top;
}
