/* PublishCourse.module.css */
.container {
    background: #2C333F;  /* Dark background */
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
  }
  
  .StateTitle {
    font-size: 20px;
    color: #F1F2FF;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  .publishForm { 
    border-radius: 10px;
  }
  
  .publishlabel {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .input {
    width: 16px;
    height: 16px;
    border: 2px solid #6E727F;
    background: transparent;
    cursor: pointer;
  }
  
  .label {
    color: #6E727F;
    font-size: 16px;
  }
  
  .btnSection {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .backBtn {
    background-color: #161D29;
    color: #F1F2FF;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  
  .saveBtn {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #FFD60A;
    color: #000814;
    font-weight: bold;
  }

  