.container {
    background-color: #2C333F; /* Dark background */
    border-radius: 8px;
    padding: 12px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  
  .sectionMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: white;
  }
  
  .sectionName {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
  }
  
  .menu {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #bbb;
  }
  
  .menu svg {
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .menu svg:hover {
    color: white;
  }
  
  .addButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #FFD60A; 
    padding: 8px;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .iconButton {
    display: flex;
    align-items: center;
    background: none;
    color: #999DAA; 
    border: none;
    cursor: pointer;
    transition: 0.2s;
    padding: 0px 10px;
    font-weight: 500;
  }

  .vertical {
    color: #999DAA;
    font-weight: 500;
  }

  .subSectionContainer {
    display: flex;
    flex-direction: column;
  }
  
  .subSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
  }

  .subSectionName {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .title {
    padding: 5px;
    margin: 0;
    text-align: center;
    margin-bottom: 2px;
  }

  .subSectionMenu {
    display: flex;
  }

  .subsectionContainer {
    display: flex;
    flex-direction: column;
    
  }