.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 400px;
    /* border: 2px solid red; */
    margin: auto;

  }
  
  .title {
    font-size: 1.5rem;
    color: #F1F2FF;
    margin: 0px 1rem;
  }
  
  .description {
    font-size: 1rem;
    color: #AFB2BF;
  }
  
  .formContainer {
    width: 100%;
    display: flex;
    justify-content: center;

  }
  
  .buttonContainer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    /* border: 2px solid rebeccapurple; */
    margin: 0px 1rem;

  }
  
  .backButton {
    background: none;
    border: none;
    color: #F1F2FF;
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: none;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.resendBtn {
    background-color: #000812;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #47A5C5;
    font-size: 0.9rem;
    gap: 5px;
}

.resendDiv {
  width: 100%;
}

.resend {
  width: 90%;
  background-color: #FFD60A;
  color: #000814;
  border: none;
  padding: 10px;
  border-radius: 7px;
}
  
.resetBtn {
  width: 89%;
  background-color: #FFD60A;
  color: #000814;
  border: none;
  padding: 10px;
  border-radius: 7px;
}
  
.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #F1F2FF;
  width: 100%;
  /* border: 1px solid red; */
  margin: 5px 15px;
}

.form input {
  padding: 10px;
  border-radius: 7px;
  width: 85%;
  background-color: #2C333F;
  color: #999DAA;
  border: none;
  margin: 3px 0px;
  margin-bottom: 20px;
}

.astrick {
  color: red;
}