.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    padding: 10px;
    /* overflow-y: auto; */
    /* margin-top: 8vh; */
    min-height: 100vh;
    /* overflow-x: hidden; */
}